<div class="well hoverwell thumbnail">
    <h1>Name: {{event?.name}}</h1>
    <div>Channel: {{event?.source?.channel}}</div>
    <!-- <div>{{event?.status}}</div> -->
    <div class="btn-group">
        <a class="btn btn-start" (click)="startRecord()"><i class="glyphicon glyphicon-play-circle"></i></a>
        <a class="btn btn-edit" (click)="editRecord()"><i class="glyphicon glyphicon-cog"></i></a>
        <a class="btn btn-delete" (click)="deleteRecord()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>