<div class="well hoverwell thumbnail">
    <h2>Name: {{event.name}}</h2>
    <div>Channel: {{event.channel}}</div>
    <div>Status: {{event.status}}</div>
    <div class="btn-group">
        <a class="btn btn-start" (click)="startRecord()"><i class="glyphicon glyphicon-play-circle"></i></a>
        <a class="btn btn-edit" (click)="openDialog()"><i class="glyphicon glyphicon-cog"></i></a>
        <a class="btn btn-delete" (click)="deleteRecord()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>